.git
package-lock.json
.elasticbeanstalk
.eslintignore
.gitignore
.prettierignore
.gitignore
Dockerfile
Dockerfile.dev
CHANGELOG.md
README.md
.env
*.sh
*.conf
*.patch
*.lock

nginx

node_modules
api/node_modules
graphql/node_modules
web/node_modules

web/src/assets/fonts/*
web/src/assets/sass/*
web/src/assets/img/*
web/src/assets/gantt/sources/*
web/public/favicon.png

api/data.json
api/generate.js
api/generate_db.js
