.git
package-lock.json
.eslintignore
.gitignore
.prettierignore
.gitignore
Dockerfile
Dockerfile.dev
Dockerfile.test.dev
CHANGELOG.md
README.md
.env
*.sh
*.conf
*.patch
*.lock
*.svg
*.ico
*.log

.ebextensions/*

web/src/assets/fonts/*
web/src/assets/img/*
web/src/assets/gantt/sources/*
web/public/favicon.png

api/data.json
